@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9F9F9;
  --foreground: #222222;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif;
}

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold tracking-tight text-subodhBlue;
  }

  a {
    @apply text-subodhBlue transition-colors hover:text-subodhOrange;
  }
}

.transition-all-custom {
  @apply transition-all duration-300 ease-in-out;
}

.notion-content .notion {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif;
}

.notion-content .notion-page {
  padding: 0;
  width: 100%;
}

.notion-content .notion-page-content {
  max-width: 100%;
  padding: 0;
}

.notion-content .notion-title,
.notion-content .notion-collection-page-properties {
  display: none !important;
}
